#header
{
    height: 65px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.header__flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heading__logo 
{
    word-spacing: -8px;
     padding: 14px;
     color: #ffff;
     margin-left: 5px;
   
}
.heading__logo i 
{
    color: #e63334;
    font-size: 20px;
    margin-left: 5px;
}
.header__logo
{
    display: flex;
}

.color__logo 
{
    color: #e63334;
    
}
.header__nav li
{
    display: inline-block;
    padding: 22px;
    margin-top: 2px;
    position: relative;
}
.header__nav li a:hover 
{
    color: #e63334;
}
.header__nav li:hover .header__sub-nav
{
    display: block;
}
.header__sub-nav
{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #ffff;
    width: 200px;
    padding: 0;
    top: 90%;
    height: 250px;
    display: none;
    animation: fadeUp ease-out 0.2s;
}
.header__sub-nav li 
{
    padding: 10px 10px 10px 20px;
    display: block;
}
.header__sub-nav li a 
{
    text-decoration: none;
    color: #070720;
    cursor: pointer;
    transition: 0.4s;
}
.header__sub-nav li a:hover 
{
    color: #e63334;
}
.header__nav > li > a 
{
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    letter-spacing: 0.8px;
    font-weight: 600;
}
li.header__li-box 
{
    background: #e63334;

}
li.header__li-box a:hover 
{
    color: #ffff;
}
.header__icon
{
    padding: 10px;
}
.header__icon li
{
    display: inline-block;
    padding: 10px;
   position: relative;
   color: #ffff;
   cursor: pointer;
}
.header__icon li:hover .menu__sub-input 
{
    display: block;
}
.menu__sub-input
{
    position: absolute;
    right: -200%;
    top: 0%;
    display: none;
}
.text 
{
    background: #ffff;
    border: none;
    border: 2px solid #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
    outline: none;
    width: 200px;
    padding: 10px;
    font-size: 15px;
    z-index: 1;

}
.text::placeholder 
{
    color: #000;
}
.header__icon li a 
{
    color: #ffff;
}
.header__icon li a:hover 
{
    color: #e63334;
}
.header__menu-tablet 
{
    position: absolute;
    color: #ffff;
    right: 0;   
     padding: 20px;
     font-size: 25px;
     cursor: pointer;
     display: none;
}
.modal
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0004;
    z-index: 1;
    display:none ;
    animation: fadeLeft2 linear 0.2s;
}
.modal__content
{
    width: 50%;
    height: 100%;
    background: #ffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeLeft linear 0.2s;
}
.modal__close
{
    font-size: 27px;
    color: #e63334;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}
.modal__nav > li
{
    padding: 20px;
    list-style: none;
    position: relative;
}
.modal__nav li:hover .header__sub-nav 
{
    display: block;
    z-index: 1;
}
.modal__nav > li > a
{
    text-decoration: none;
    color: #070720;
    font-size: 20px;
}
.modal.open 
{
    display: flex;
}
.modal__2 
{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
    animation: fadeLeft2 linear 0.2s;
}
.modal__text 
{
    
    width: 400px;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    color: #ffff;
    border-bottom: 2px solid #ffff;
    font-size: 20px;
}
.modal__text::placeholder
{
    color: #ffff;
}
.modal__close-2 
{
    color: #ffff;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
.modal__2.open2
{
    display: flex;
}
.modal__ipn 
{
    padding: 10px;
    
}
.modal__content-2 
{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeLeft2 linear 0.4s;
}
#slider 
{
    height: 700px;
    background:#181818 ;
    margin-top: 63px;
    display: flex;
    justify-content:center ;
    align-items: center;

}
.slider__flex 
{
    padding: 20px;
}
.slider__box 
{
 

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 600px;
    background-position: center;
    display: flex;
     justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    animation: animate 16s ease-in-out infinite;
 
}
.slider__heading 
{
    background: #ffff;
    color: #e63334;
    width: 100px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 5px 0px 5px 0px;
}
.slider__sub-heading 
{
    color: #ffff;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 10px;
}
.slider__about 
{
    color: #ffff;
    margin-bottom: 20px;
}
.slider__box-2 
{
    color: #ffff;
    background: #e63334;
    border-radius: 3px;
    width: 150px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    letter-spacing: 1px ;
    cursor: pointer;
}
.slider__watch 
{
    display: flex;
}
.slider__watch
{
    color: #ffff;
}

.slider__watch i 
{
    margin-left: 7px;
    background: #e63334;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#content
{
    height: 3000px;
    background: #181818;
}
.content__flex 
{
    height: 1600px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.content__movie-left 
{
    height: 100%;
    width: 100%;
}
.content__heading-movie 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content__heading 
{
    color: #ffff;
    padding: 0px 0px 0px 20px;
    border-left: 2px solid #e63334;
    font-size: 20px;
}
.content__sub-heading 
{
    color: #ffff;
    font-size: 15px;
}
.content__trending-movie 
{
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}
.content__movie img 
{
    margin-bottom: 10px;
   
}

.content__movie-nav li
{
    list-style: none;
    color: #ffff;
    display: inline-block;
    padding: 5px 10px 5px 10px ;
    background:#3c3d55 ;
    text-align: center;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 10px;
}
.content__movie 
{
    padding: 20px;
    position: relative;
}
.content__movie-about 
{
    color: #ffff;
    width: 200px;
    line-height: 27px;
    margin-bottom: 10px;
}
.content__exp 
{
    background: #e63334;
    color: #ffff;
    width: 70px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 10%;
}
.content__heading-movie-2
{
    display: flex;
    justify-content: flex-end;
}
.content__heading-2 
{
   color: #ffff;
   font-size: 14px;
   padding: 0px 20px 0px 0px;
   border-right: 2px solid #e63334;
   font-size: 20px;
   margin-bottom: 20px;
}
.content__exp-2 
{
    position: absolute;
    top: 65%;
    left: 10%;
    background: #343a40;
    color: #ffff;
    font-size: 14px;
    padding: 5px;
}
.content__movie:hover .content__sub-movie 
{
    display: block;
}
.content__sub-movie 
{
    position: absolute;
    height:330px;
    width: 230px;
    background: #0004;
    animation: fadeUp ease-out 0.1s;
    cursor: pointer;
    display: none;
}
.content__exp-3
{
    position: absolute;
    top: 65%;
    right: 10%;
    background: #343a40;
    color: #ffff;
    font-size: 14px;
    padding: 5px;
}
.content__exp-3 i 
{
   margin-right: 5px;

}
.plus 
{
    color: #ffff;
    margin-top: 75%;
    margin-left: 45%;
    font-size: 30px;
}