#header
{
    height: 65px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.header__flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heading__logo 
{
    word-spacing: -8px;
     padding: 14px;
     color: #ffff;
     margin-left: 5px;
   
}
.heading__logo i 
{
    color: #e63334;
    font-size: 30px;
    margin-left: 5px;
}
.header__logo
{
    display: flex;
}

.color__logo 
{
    color: #e63334;
    
}
.header__nav li
{
    display: inline-block;
    padding: 22px;
    margin-top: 2px;
    position: relative;
}
.header__nav li a:hover 
{
    color: #e63334;
}
.header__nav li:hover .header__sub-nav
{
    display: block;
}
.header__sub-nav
{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #ffff;
    width: 200px;
    padding: 0;
    top: 90%;
    height: 250px;
    display: none;
    animation: fadeUp ease-out 0.2s;
}
.header__sub-nav li 
{
    padding: 10px 10px 10px 20px;
    display: block;
}
.header__sub-nav li a 
{
    text-decoration: none;
    color: #070720;
    cursor: pointer;
    transition: 0.4s;
}
.header__sub-nav li a:hover 
{
    color: #e63334;
}
.header__nav > li > a 
{
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    letter-spacing: 0.8px;
    font-weight: 600;
}
li.header__li-box 
{
    background: #e63334;

}
li.header__li-box a:hover 
{
    color: #ffff;
}
.header__icon
{
    padding: 10px;
}
.header__icon li
{
    display: inline-block;
    padding: 10px;
   position: relative;
   color: #ffff;
   cursor: pointer;
}
.header__icon li:hover .menu__sub-input 
{
    display: block;
}
.menu__sub-input
{
    position: absolute;
    right: -200%;
    top: 0%;
    display: none;
}
.text 
{
    background: #ffff;
    border: none;
    border: 2px solid #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
    outline: none;
    width: 200px;
    padding: 10px;
    font-size: 15px;
    z-index: 1;

}
.menu__2:hover 
{
    color: #e63334;
}
.text::placeholder 
{
    color: #000;
}
.header__icon li a 
{
    color: #ffff;
}
.header__icon li a:hover 
{
    color: #e63334;
}
.header__menu-tablet 
{
    position: absolute;
    color: #ffff;
    right: 0;   
     padding: 20px;
     font-size: 25px;
     cursor: pointer;
     display: none;
}
.modal
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0004;
    z-index: 1;
    display:none ;
    animation: fadeLeft2 linear 0.2s;
}
.modal__content
{
    width: 50%;
    height: 100%;
    background: #ffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeLeft linear 0.2s;
}

.modal__close
{
    font-size: 27px;
    color: #e63334;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}
.modal__nav > li
{
    padding: 20px;
    list-style: none;
    position: relative;
}
.modal__nav li:hover .header__sub-nav 
{
    display: block;
    z-index: 1;
}
.modal__nav > li > a
{
    text-decoration: none;
    color: #070720;
    font-size: 20px;
}
.modal.open 
{
    display: flex;
}
.modal__2 
{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
    animation: fadeLeft2 linear 0.2s;
}
.modal__text 
{
    
    width: 400px;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    color: #ffff;
    border-bottom: 2px solid #ffff;
    font-size: 20px;
}
.modal__text::placeholder
{
    color: #ffff;
}
.modal__close-2 
{
    color: #ffff;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
.modal__2.open2
{
    display: flex;
}
.modal__ipn 
{
    padding: 10px;
    
}
.modal__content-2 
{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeLeft2 linear 0.4s;
}
#slider 
{
    height: 310px;
    margin-top: 63px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background: url("hero-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider__box 
{
    background: #0004;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider__heading 
{
    font-size: 40px;
    color: #ffff;
    font-weight: 700;
    margin-bottom: 20px;
}
.slider__about 
{
    color: #ffff;
    font-size: 20px;
}
#content
{
    height: 800px;
    background: #181818;
}